:root{
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    font-family: "Red Hat Display", sans-serif;

}
.background-desktop{
    position: absolute;
    display: block;
    padding-top: 30%;
    width: 100vw;
    margin-top: 0;

}
.background-desktop svg{
    margin-top: 0;
    width: 100%;
    display: block;
    
 
}
.background-mobile{
    position: absolute;
    display: none;
    height: 100vh;
}
.container{
    position: absolute;
    margin-top: 50%;
    text-align: center;
    width: 300px;
    background-color:  hsl(225, 100%, 98%);
    border-radius: 8px;

}
h1,p, .plan{
    margin: 1rem;
}

.container img{
    display: block;
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}
.container p:nth-child(3){
    font-size: 16px;
    color:  hsl(224, 23%, 55%);
}
#annual-fees{
    color:  hsl(224, 23%, 55%);
}
.plan{
    background-color: hsl(0, 0%, 93%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 8px;
}
.plan img{
    width: 50px;
    height: 50px;
}

.plan p:nth-child(3){
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
}
button{
    border-radius: 5px;
    padding:8px;
    border: 0;
}
#payment{
    background-color: hsl(245, 75%, 52%);
    color: white;
    width: 80%;
    margin-bottom: 1rem;

}
#cancel{
    width: 80%;
    margin-bottom: 20px;
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    color: red;
}
.attribution a { color: hsl(228, 45%, 44%); }
/*Media query*/
@media screen and (max-width: 900px) {
    body{
        height: 100vh;
    }
    .background-desktop{
        display: none;
    }
    .background-mobile{
            position: absolute;
            padding-top: 30%;
            width: 100vw;
            margin-top: 0;
    }
    
}